@charset "UTF-8";
/* CSS Document */



html {
	
	font-family: 'Assistant', sans-serif;
}


.deco {
	
	padding: 50px 50px;
	border-bottom: 1px solid lightgray;
	
	
	
	
}


.barLogo {
	


	
}

.bg-light {
	
	background-color: #ffffff !important;
}


.mainLogo {

	
	
}


.bg-yellow {
	
	
	background-color:	#f6d300;
}


.logo-primary {background-color: #262262;}
.logo-primary-2 {background-color: #8DC63F;}
.logo-secondary-1{background-color: #000000;}
.logo-secondary-2{background-color: #a7a9ac;}
.logo-secondary-3{background-color: #ffffff;}

/*
ul {
    margin: 20px;
}
*/

h4 {
	
	padding-bottom: 15px;
	
	
}

li {
	
	
	list-style-type: none;
}


